
:root {
    --purple: #4b167a;
    --dark-purple: #320c53;
    --black: #0d0d0d;
}

.bg-dark-purple {
    background-color: var(--dark-purple);
}

.hero-section {
    padding-top: 120px;
    background: linear-gradient(135deg, #150020, #1b0033, #000);
    color: white;
}

.hero-img {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 4px solid var(--purple);
}

.about-img {
    width: 100%;
    max-width: 280px;
    border: 3px solid var(--purple);
}

.text-purple {
    color: var(--purple);
}

.project-card {
    background-color: #111;
    color: white;
    border: 1px solid var(--purple);
    transition: 0.3s;
}

.project-card:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 15px var(--purple);
}

.btn-purple {
    background-color: var(--purple);
    color: white;
    border: none;
}

.btn-purple:hover {
    background-color: #4b1a72;
    color: white;
}

.footer {
    background-color: var(--black);
}
